<br/>
<br/>
<%= link_to "New Pet for #{@groomer.name}", "/dog_groomers/#{@groomer.id}/pets/new" %>
<%= link_to "Sort Pets", "/dog_groomers/#{@groomer.id}/pets?alpha=true" %>

<br/>

<%= form_with url: "/dog_groomers/#{@groomer.id}/pets", method: :get, local: true do |form| %>
	<%= form.label :dog_weight, "Pet Weight: " %>
	<%= form.text_field :dog_weight %>
	<%= form.submit "Sort" %>
<% end %>

<% @pets.each do |pet| %>
	<h3><%= pet.name %></h3>
	<p>Age: <%= pet.age %>
	<p>Weight: <%= pet.weight %>
	<p>Trained: <%= pet.trained %>
<% end %>